* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #abbaff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: rgb(38, 38, 38);
    margin-bottom: 30px;
}

.search-container {
    margin: 24px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

#location-select {
    padding: 12px 20px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    width: 300px;
}

#search-btn {
    width: 170px;
    height: 60px;
    padding: 12px 30px;
    font-size: 18px;
    background: #2a40a5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#search-btn:hover {
    background: #3048b3;
}

#weather-info-placeholder {
    background: white;
    padding: 24px 30px;
    border-radius: 12px;
    box-shadow: 0 3px 7px rgba(54, 54, 54, 0.07);
    width: 486px;
    text-align: left;
    font-size: 20px;
    color: #222;
}

.weather-card {
    margin-left:8px;
    text-align: left;
}

.weather-card p {
    margin: 8px 0 24px 0;
    color: #222;
}

.datetime {
    color: #222;
    font-size: 24px;
}

.location {
    font-size: 24px;
    color: #222;
}

.weather-main {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 24px;
    flex-wrap: wrap;
}

.temperature {
    font-size: 24px;
    color: #222;
}

.weather-icon {
    width: 40px;
    height: 40px;
}

.condition {
    font-size: 24px;
    color: #222;
}
